.form-search {
    position: relative;
    color: #24292e;

    input {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border: none;
        border-radius: 3px;
        outline: none;
        color: #24292e;
        -webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
        }
    }

    i {
        position: absolute;
        font-size: 20px;
        margin: 15px;
    }
}
