.footer {
    background-color: $bg-dark;
    color: white;
    padding: 20px;
    text-align: center;
    hr {
        padding: 0;
        background-color: #fff;
        width: 50%;
    }

    h2 {
        margin: 0;
        line-height: 1em;
    }

    h6 {
        padding: 1em;
    }

}
