.footer {
    background-color: $bg-dark;
    color: white;
    padding: 30px;
    text-align: center;

    hr {
        padding: 0;
        background-color: #fff;
        width: 50%;
    }

    h6 {
        padding-top: 1em;
        margin: 0;
    }

}

@media (max-width: 768px) {
    .footer {
        hr {
            width: 60%;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        hr {
            width: 70%;
        }
    }
}
