.header {
    height: 56px;
    position: fixed;
    width: 100%;
    text-align: right;
    z-index: 29;
    transition: background-color linear 0.2s;
}

.header-dark {
    background-color: $bg-dark;
}


.header-nav-link {
    display: inline-block;
    color: rgba(255,255,255,0.75);
    padding: 0 8px;
    line-height: 32px;
    text-transform: uppercase;
    vertical-align: sub;

    &:hover {
        text-decoration: none;
        color: rgba(255,255,255,1);
    }
}

.header-content-holder {
    margin: 12px 4px;
    padding: 0 16px;
    height: 32px;
    position: fixed;
    z-index: 31;
    width: 100%;

    .header-nav {
        float: right;
    }
    
    .brand-title {
        vertical-align: baseline;
    }
}
