.hero-banner {
    width: 100%;
    position: relative;
    height: 800px;
    background-color: green;
    background-image: url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.hero-banner img {
    max-width:100%;
    max-height:100%;
}

.content {
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 20px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        color: rgba(255,255,255,1);
    }

    .form-search {
        input {
            padding: 10px;
            width: 50%;
            margin-right: 8px;
        }

        button {
            height: 44px;
            padding: 0 10px;
        }
    }

    position: absolute;
    text-align: center;
    color: rgba(0,0,0,0.75);
    width: 532px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
