.inventory-container {
    padding: 88px 30px 32px 30px;
    text-align: center;

    hr {
        margin: 32px 0;
    }
}

.inventory-controls-container {
    display: flex;
    justify-content: space-between;
    height: 50px;

    .form-search {
        width: 400px;
    }

    .recipes-dropdown {
        width: 200px;
    }

    .btn-controls {
        margin-left: 16px;
        width: 50px;
        padding: 0;
        background-color: transparent;
        border: none;
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
        display: none;

        &:hover {
            background-color: #f8f9fa;
        }
    }
}

.mobile-controls {
    display: none;
    margin-top: 16px;
    text-align: left;

    select {
        width: 300px;
    }
}

.inventory-grid-item {
    &.contracted {
        padding: 10px 20px;
    }

    .inventory-item {
        background-color: white;
        display: inline-block;
        width: 100%;
        border: 1px solid #dee2e6;
        border-radius: 3px;
        height: 110px;
        padding: 20px;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;

        .scientific-name {
            pointer-events: none;
            font-weight: 300;
            font-style: italic;
            margin-bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }

        .name {
            display: inline-block;
            font-weight: 700;
            margin-bottom: 0;
            pointer-events: none;
        }

        .stock-indicator {
            margin-bottom: 0;
            margin-top: 30px;
            pointer-events: none;

            &.toggleable {
                cursor: pointer;

                span {
                    padding: 5px;
                    pointer-events: all;
                }
            }

            i {
                margin-right: 5px;
                font-size: 12px;
            }

            h5 {
                margin-bottom: 0px;
                display: inline-block;
            }
        }

        .description {
            margin-top: 16px;
        }

        .inventory-footer {
            margin-top: 16px;
            font-size: 12px;

            i {
                margin-right: 5px;
            }

            a {
                color: black;
            }

            .btn-category {
                border: none;
                cursor: pointer;
                padding: 0;
            }
        }

    }

    .inventory-item-expanded {
        cursor: initial;
        z-index: 101;
        position: fixed;
        width: 350px;
        top: 72px;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        white-space: normal;

        &:focus {
            outline: none;
        }
    }
}

@media (max-width: 768px) {
    .inventory-container {
        hr {
            margin: 16px 0;
        }
    }

    .desktop-controls {
        display: none;
    }

    .inventory-controls-container {
        .btn-controls {
            display: initial;
        }
    }

    .mobile-controls {
        display: block;
    }
}
