.content-block-row {
    margin: 60px 0;
}

.content-block-section {
    text-align: center;

    img {
        margin-bottom: 15px;
        width: 280px;
    }

    span {
        display: block;
        color: rgba(0,0,0,0.9);
        font-size: 18px;
        text-transform: uppercase;
    }

    .content-block-content {
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
}

.latest-section {
    margin-bottom: 70px;

    hr {
        margin: 0 70px;
        color: rgba(0,0,0,0.7);
    }
}

.recipe {
    margin: 70px;

    h4 {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .recipe-body {
        .ingredients-list {
            list-style-type: none;
            margin-left: 0;
            padding: 0;

            p {
                margin: 0;
            }
        }

        .steps-list {
            list-style-type: none;
            margin-left: 0;
            padding: 0;

            p {
                margin: 0;
            }
        }
    }

    .recipe-footer {
        i {
            vertical-align: middle;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
