.content-block-row {
    margin: 60px 0;
}

.content-block-section {
    text-align: center;

    img {
        margin-bottom: 15px;
        width: 280px;
    }

    span {
        display: block;
        color: rgba(0,0,0,0.9);
        font-size: 18px;
        text-transform: uppercase;
    }

    .content-block-content {
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
}

.latest-section {
    hr {
        margin: 0 70px;
        background-color: rgba(0,0,0,0.7);
    }
}

.recipe {
    margin: 70px;

    h4 {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .recipe-body {
        .ingredients-list {
            list-style-type: none;
            margin-left: 0;
            padding: 0;

            p {
                margin: 0;
            }
        }

        .steps-list {
            list-style-type: none;
            margin-left: 0;
            padding: 0;

            p {
                margin: 0;
            }
        }
    }

    .recipe-footer {
        i {
            vertical-align: middle;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.recipes-page {
    h2 {
        text-align: center;
        text-transform: uppercase;
        padding: 88px 0 32px 0;
        font-weight: 600;
        margin-bottom: 0;
    }

    hr {
        margin: 0 70px;
    }

    .recipe-list-section {
        margin: 70px;

        ul {
            list-style-type: none;
            padding: 0;

            li {
                a {
                    color: rgba(0,0,0,0.9);
                    text-decoration: none;
                }
            }

        }
    }
}

.recipe-page {
    padding-top: 56px;

    .btn-recipe-back {
        position: absolute;
        left: 70px;
        top: 126px;
    }
}

.tag-link {
    padding: 0 4px;
}

.tag-icon {
    vertical-align: sub;
}
