.form-search {
    position: relative;
    color: #24292e;
    -webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);

    .search-field {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border: none;
        border-radius: 3px;
        outline: none;
        color: #24292e;

        &.details {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:focus {
            // box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
        }
    }

    .search-icon {
        position: absolute;
        font-size: 20px;
        margin: 15px;
    }

    .search-details-container {
        position: absolute;
        // overflow: auto;
        width: 100%;
        background: white;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        hr {
            background-color: initial;
            margin: 0 16px 16px 16px;
        }

        .alert {
            margin: 0 16px 16px 16px;

            i {
                margin-right: 5px;
            }
        }
    }
}

.search-page-container {
    padding: 88px 70px 0 70px;

    hr {
        background-color: rgba(0,0,0,0.7);
    }
}
