.form-search {
    position: relative;
    color: #24292e;
    height: 50px;

    .search-field {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border: none;
        border-radius: 3px;
        outline: none;
        color: #24292e;

        &:focus {
            // box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
        }
    }

    .search-icon {
        position: absolute;
        font-size: 20px;
        margin: 15px;
    }

    .clear-button {
        border: 0;
        padding: 10px;
        right: 0;
        font-size: 20px;
        position: absolute;
        cursor: pointer;
        background-color: transparent !important;
        color: lighten(#24292e, 25%);

        &:focus {
            outline: 0;
        }

        &:active {
            color: lighten(#24292e, 50%);
        }

        i {
            vertical-align: middle;
        }
    }
}
