.form-search {
    position: relative;
    color: #24292e;

    .search-field {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border: none;
        border-radius: 3px;
        outline: none;
        color: #24292e;

        &.details {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: 0 !important;
        }

        &:focus {
            // box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
        }
    }

    .search-icon {
        position: absolute;
        font-size: 20px;
        margin: 15px;
    }

    .search-details-container {
        border-top: 0 !important;
        z-index: 100;
        position: absolute;
        width: 100%;
        background: white;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        hr {
            background-color: initial;
            margin: 0 16px 16px 16px;
        }

        .alert {
            margin: 0 16px 16px 16px;

            i {
                margin-right: 5px;
            }
        }
    }
}

.search-page-container {
    padding: 88px 70px 0 70px;

    .form-search {
        margin: 0 -10px;
    }

    .list-group-item {
        margin: 8px 0;

        h5 {
            margin-bottom: 8px !important;
        }
    }
}

.no-results {
    text-align: center;

    i {
        margin-right: 5px;
    }
}

@media (max-width: 992px) {
    .search-page-container {
        padding: 88px 40px 0 40px;
    }
}
@media (max-width: 768px) {
    .search-page-container {
        padding: 88px 30px 0 30px;
    }
}
@media (max-width: 576px) {
    .search-page-container {
        padding: 88px 20px 0 20px;
    }
}
